@import url('https://fonts.googleapis.com/css?family=Changa:300,400,700,800|Roboto:300,400,700,900');
/* Base CSS */
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight:700;font-family: 'Changa', sans-serif; font-weight: 800;
}


body { 
font-family: 'Roboto', sans-serif;
line-height: 1.8;
font-weight:400;
font-size: 15px;
max-height: 100%;
}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

a.service-single-item {
  background-image: url("./assets/img/service-1.jpg");
}

a.service-single-item.bg-2 {
  background-image: url("./assets/img/service-2.jpg");
}


a.service-single-item.bg-3 {
  background-image: url("./assets/img/service-3.jpg");
}

a.service-single-item {
background-position: center center;
background-size: cover;
display: block;
height: 250px;
margin-bottom: 30px;
position: relative;
-webkit-transition: all 1s ease 0s;
transition: all 1s ease 0s;
}

.service-single-content {
    bottom: 0;
    color: #fff;
    height: auto;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.service-single-content h2 {
    font-size: 50px;
    font-style: italic;
}
.section-padding {
    padding: 100px 0;
}
.service-single-content {
    font-size: 18px;
}

a.service-single-item:hover {
    box-shadow: 0 0 10px #222;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

#scrollUp {
    background-color: #ff4949;
    bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    right: 20px;
}