
/* Base CSS */
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight:700;
}


body { 
font-family: 'Roboto', sans-serif;
line-height: 1.714;
font-weight:400;
}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.slider-section {
    background: #263238 none repeat scroll 0 0;
    color: #fff;
    position: relative;
}
.single-slider {
    position: relative;
}
.main-menu {
	height: auto;
left: 0;
padding: 15px 0;
position: absolute;
top: 0;
width: 100%;
z-index: 2;
}
.menu-content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu-content ul li {
    display: inline-block;
}
.menu-content ul li a {
    color: #fff;
display: block;
padding: 25px 0 25px 25px;
}
}
.menu-content ul li a:hover {
    color: #E6AD21;
}

.logo a img {
    min-height: 70px;
}
.slider-section .row {
}
.slider-section img {
    bottom: 0;
    height: 550px;
    min-height: 550px;
    position: absolute;
    right: 100px;
}
.single-slider-content {
    padding: 180px 0;
}
.single-slider-content h2 {
    color: #e6ad21;
    font-size: 42px;
    line-height: 50px;
}
.readmore-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #e6ad21;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    padding: 15px 20px;
}
.readmore-btn:hover {
    color: #e6ad21;
    text-decoration: none;
}
.readmore-btn i.fa {
    margin-left: 10px;
}
