
/* Base CSS */
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight:700;
}


body { 
font-family: 'Roboto', sans-serif;
line-height: 1.714;
font-weight:400;
}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.footer-area {
    background: #14adf3 none repeat scroll 0 0;
    padding: 100px 0;
}
.footer-area, .footer-area a {
    color: #fff;
}
.footer-area h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.footer-area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.social-icon a {
    font-size: 16px;
    margin-right: 15px;
}
.social-icon {
    margin-top: 25px;
}
.footer-widget ul li {
    display: block;
    line-height: 30px;
}
.subscribe-form p i.fa {
    margin-right: 25px;
}
.newsletter {
    margin-top: 30px;
}
.newsletter form input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    color: #14adf3;
    font-weight: 800;
    text-transform: uppercase;
    width: 24%;
}
selectorSavingError {
}
.newsletter form input[type="text"] {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 0 none;
    color: #000;
    float: left;
    margin-right: 1%;
    width: 75%;
}
input, input[type="text"], input[type="email"], input[type="e-mail"], input[type="tel"], input[type="submit"], input[type="password"] {
    border: medium none;
    padding: 10px;
}
.newsletter p {
    margin-top: 20px;
}
.footer-bottom-area {
    padding: 10px 0;
}
.footer-bottom-area, .footer-bottom-area a {
    color: #9b9b9b;
}
.footer-bottom-area p, .footer-bottom-area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-right ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.footer-right ul li a {
    display: block;
}
.footer-right ul li::after {
    content: "|";
    position: absolute;
    right: 0;
    top: 0;
}
.footer-right ul li:last-child::after {
    content: none;
    padding-right: 0;
}
