    /*
    Flaticon icon font: Flaticon
    Creation date: 20/06/2017 08:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-x-ray:before { content: "\f100"; }
.flaticon-002-wheelchair:before { content: "\f101"; }
.flaticon-003-cream:before { content: "\f102"; }
.flaticon-004-toothbrush:before { content: "\f103"; }
.flaticon-005-thermometer:before { content: "\f104"; }
.flaticon-006-test-tube:before { content: "\f105"; }
.flaticon-007-syringe-3:before { content: "\f106"; }
.flaticon-008-syringe-2:before { content: "\f107"; }
.flaticon-009-surgeon:before { content: "\f108"; }
.flaticon-010-stomach:before { content: "\f109"; }
.flaticon-011-stethoscope:before { content: "\f10a"; }
.flaticon-012-sphygmomanometer:before { content: "\f10b"; }
.flaticon-013-syringe-1:before { content: "\f10c"; }
.flaticon-014-skull:before { content: "\f10d"; }
.flaticon-015-poison:before { content: "\f10e"; }
.flaticon-016-scissors:before { content: "\f10f"; }
.flaticon-017-atom:before { content: "\f110"; }
.flaticon-018-scalpel:before { content: "\f111"; }
.flaticon-019-syringe:before { content: "\f112"; }
.flaticon-020-hammer:before { content: "\f113"; }
.flaticon-021-pill-2:before { content: "\f114"; }
.flaticon-022-pharmacy:before { content: "\f115"; }
.flaticon-023-oxygen:before { content: "\f116"; }
.flaticon-024-nurse:before { content: "\f117"; }
.flaticon-025-nose:before { content: "\f118"; }
.flaticon-026-mouth-mirror:before { content: "\f119"; }
.flaticon-027-smartphone:before { content: "\f11a"; }
.flaticon-028-microscope:before { content: "\f11b"; }
.flaticon-029-medicine:before { content: "\f11c"; }
.flaticon-030-pill-1:before { content: "\f11d"; }
.flaticon-031-pill:before { content: "\f11e"; }
.flaticon-032-hospital-2:before { content: "\f11f"; }
.flaticon-033-tag:before { content: "\f120"; }
.flaticon-034-shopping-cart:before { content: "\f121"; }
.flaticon-035-dna-1:before { content: "\f122"; }
.flaticon-036-agenda:before { content: "\f123"; }
.flaticon-037-telephone:before { content: "\f124"; }
.flaticon-038-laptop:before { content: "\f125"; }
.flaticon-039-folder:before { content: "\f126"; }
.flaticon-040-doctor:before { content: "\f127"; }
.flaticon-041-clipboard:before { content: "\f128"; }
.flaticon-042-hospital-1:before { content: "\f129"; }
.flaticon-043-reproductive-system:before { content: "\f12a"; }
.flaticon-044-male:before { content: "\f12b"; }
.flaticon-045-lungs:before { content: "\f12c"; }
.flaticon-046-liver:before { content: "\f12d"; }
.flaticon-047-lips:before { content: "\f12e"; }
.flaticon-048-flask-1:before { content: "\f12f"; }
.flaticon-049-flask:before { content: "\f130"; }
.flaticon-050-kidney:before { content: "\f131"; }
.flaticon-051-blood-transfusion-2:before { content: "\f132"; }
.flaticon-052-blood-transfusion-1:before { content: "\f133"; }
.flaticon-053-placeholder:before { content: "\f134"; }
.flaticon-054-hospital-bed-1:before { content: "\f135"; }
.flaticon-055-hospital:before { content: "\f136"; }
.flaticon-056-cardiogram-1:before { content: "\f137"; }
.flaticon-057-smartwatch:before { content: "\f138"; }
.flaticon-058-cardiogram:before { content: "\f139"; }
.flaticon-059-hospital-bed:before { content: "\f13a"; }
.flaticon-060-fluid:before { content: "\f13b"; }
.flaticon-061-blood-transfusion:before { content: "\f13c"; }
.flaticon-062-first-aid-kit:before { content: "\f13d"; }
.flaticon-063-uterus:before { content: "\f13e"; }
.flaticon-064-female:before { content: "\f13f"; }
.flaticon-065-dropper-1:before { content: "\f140"; }
.flaticon-066-dropper:before { content: "\f141"; }
.flaticon-067-helicopter:before { content: "\f142"; }
.flaticon-068-ear:before { content: "\f143"; }
.flaticon-069-dna:before { content: "\f144"; }
.flaticon-070-seat:before { content: "\f145"; }
.flaticon-071-tooth:before { content: "\f146"; }
.flaticon-072-dental-probe:before { content: "\f147"; }
.flaticon-073-tooth-pliers:before { content: "\f148"; }
.flaticon-074-crutches:before { content: "\f149"; }
.flaticon-075-computer:before { content: "\f14a"; }
.flaticon-076-ribbon:before { content: "\f14b"; }
.flaticon-077-brain:before { content: "\f14c"; }
.flaticon-078-band-aid-1:before { content: "\f14d"; }
.flaticon-079-band-aid:before { content: "\f14e"; }
.flaticon-080-atoms:before { content: "\f14f"; }
.flaticon-081-ambulance:before { content: "\f150"; }
    
    $font-Flaticon-001-x-ray: "\f100";
    $font-Flaticon-002-wheelchair: "\f101";
    $font-Flaticon-003-cream: "\f102";
    $font-Flaticon-004-toothbrush: "\f103";
    $font-Flaticon-005-thermometer: "\f104";
    $font-Flaticon-006-test-tube: "\f105";
    $font-Flaticon-007-syringe-3: "\f106";
    $font-Flaticon-008-syringe-2: "\f107";
    $font-Flaticon-009-surgeon: "\f108";
    $font-Flaticon-010-stomach: "\f109";
    $font-Flaticon-011-stethoscope: "\f10a";
    $font-Flaticon-012-sphygmomanometer: "\f10b";
    $font-Flaticon-013-syringe-1: "\f10c";
    $font-Flaticon-014-skull: "\f10d";
    $font-Flaticon-015-poison: "\f10e";
    $font-Flaticon-016-scissors: "\f10f";
    $font-Flaticon-017-atom: "\f110";
    $font-Flaticon-018-scalpel: "\f111";
    $font-Flaticon-019-syringe: "\f112";
    $font-Flaticon-020-hammer: "\f113";
    $font-Flaticon-021-pill-2: "\f114";
    $font-Flaticon-022-pharmacy: "\f115";
    $font-Flaticon-023-oxygen: "\f116";
    $font-Flaticon-024-nurse: "\f117";
    $font-Flaticon-025-nose: "\f118";
    $font-Flaticon-026-mouth-mirror: "\f119";
    $font-Flaticon-027-smartphone: "\f11a";
    $font-Flaticon-028-microscope: "\f11b";
    $font-Flaticon-029-medicine: "\f11c";
    $font-Flaticon-030-pill-1: "\f11d";
    $font-Flaticon-031-pill: "\f11e";
    $font-Flaticon-032-hospital-2: "\f11f";
    $font-Flaticon-033-tag: "\f120";
    $font-Flaticon-034-shopping-cart: "\f121";
    $font-Flaticon-035-dna-1: "\f122";
    $font-Flaticon-036-agenda: "\f123";
    $font-Flaticon-037-telephone: "\f124";
    $font-Flaticon-038-laptop: "\f125";
    $font-Flaticon-039-folder: "\f126";
    $font-Flaticon-040-doctor: "\f127";
    $font-Flaticon-041-clipboard: "\f128";
    $font-Flaticon-042-hospital-1: "\f129";
    $font-Flaticon-043-reproductive-system: "\f12a";
    $font-Flaticon-044-male: "\f12b";
    $font-Flaticon-045-lungs: "\f12c";
    $font-Flaticon-046-liver: "\f12d";
    $font-Flaticon-047-lips: "\f12e";
    $font-Flaticon-048-flask-1: "\f12f";
    $font-Flaticon-049-flask: "\f130";
    $font-Flaticon-050-kidney: "\f131";
    $font-Flaticon-051-blood-transfusion-2: "\f132";
    $font-Flaticon-052-blood-transfusion-1: "\f133";
    $font-Flaticon-053-placeholder: "\f134";
    $font-Flaticon-054-hospital-bed-1: "\f135";
    $font-Flaticon-055-hospital: "\f136";
    $font-Flaticon-056-cardiogram-1: "\f137";
    $font-Flaticon-057-smartwatch: "\f138";
    $font-Flaticon-058-cardiogram: "\f139";
    $font-Flaticon-059-hospital-bed: "\f13a";
    $font-Flaticon-060-fluid: "\f13b";
    $font-Flaticon-061-blood-transfusion: "\f13c";
    $font-Flaticon-062-first-aid-kit: "\f13d";
    $font-Flaticon-063-uterus: "\f13e";
    $font-Flaticon-064-female: "\f13f";
    $font-Flaticon-065-dropper-1: "\f140";
    $font-Flaticon-066-dropper: "\f141";
    $font-Flaticon-067-helicopter: "\f142";
    $font-Flaticon-068-ear: "\f143";
    $font-Flaticon-069-dna: "\f144";
    $font-Flaticon-070-seat: "\f145";
    $font-Flaticon-071-tooth: "\f146";
    $font-Flaticon-072-dental-probe: "\f147";
    $font-Flaticon-073-tooth-pliers: "\f148";
    $font-Flaticon-074-crutches: "\f149";
    $font-Flaticon-075-computer: "\f14a";
    $font-Flaticon-076-ribbon: "\f14b";
    $font-Flaticon-077-brain: "\f14c";
    $font-Flaticon-078-band-aid-1: "\f14d";
    $font-Flaticon-079-band-aid: "\f14e";
    $font-Flaticon-080-atoms: "\f14f";
    $font-Flaticon-081-ambulance: "\f150";